@import "nullstyle.css";
canvas {
    display: block;

    border: 1px solid black;
}
header{
    color:white;
    background-color: #242631;
    display: block;
    height:5vh;
    width: 100%;
    text-align:center;
    font-size: 4vh;
    padding: 5px;
    border-bottom:1px solid #adb1cc; 
}
.wrapper{
    background-color: #1c1d26;
    height: 95vh;
    width: 100%;
    position: relative;
}

.pictures{
    position: absolute;
    height:100%;
    right:0;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    transition: all 0.4s ease 0s;
}
.full-width{
    flex-direction: row;
    width: 100%;
    transition: all 0.4s ease 0s;
}
.rectangle{
    border:1px solid #adb1cc; 
    border-left:none;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(0%,-50%);
    background-color: #2b2c2f;
    width: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 40% 40% 0;
}
.chevron-icon{
    cursor: pointer;
    width: 100%;
    height: 20px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    transform:translate(30%, 0) rotate(-45deg);
    transition: all 0.4s ease 0s;
}
.right-pointed-arrow{
    transform:translate(-30%, 0) rotate(135deg);
    transition: all 0.4s ease 0s;
}
.rectangle-to-left{
    left: 0;
}
.ms-label{
    margin: 30px;
    color: #fff;
    font-size: 30px;

}
.ranges{
    border-right:1px solid #adb1cc; 
    background-color: #242631;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;    
}
.unvisible{
    visibility: hidden;
    opacity: 0;
    width: 0%;
}
.range {
    margin-bottom: 40px;
    width: 50%;
    background-color: #33353f;
    border:1px solid #adb1cc; 
    text-align: center; 
}

.range input[type=range]{
    width: 100%;
}
.ranges p{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color:white;
    margin-bottom: 15px;
    border-bottom: 1px solid #adb1cc;
}
.range > * {
    padding: 0;
}
.configure-btn, .video-btn{
    margin: 5px;
    color: #fff;
    width: 150px;
    height: 60px;
    background-color: #33353f;
    border-radius: 3px;
    font-size: 14px;

}
@media(max-height:700px){
    .ranges p{
        font-size: 20px;
        margin-bottom: 2vh;
    }
    .range {
        margin-bottom: 8vh;
    }
    .range > * {
        padding: 2px;
    }
}
